.side-wrapper{
    text-align: center;!important;
    font-size: 33px;
    
}

label{
    margin-bottom: 10px;
    display: block;
}

.side-wrapper h4{
    color:var(--font-dark)!important;
    
}

.form-wrapper form a{
    color: var(--font-dark);
    font-size: 13px;
    
}

.form-bind i{
    color: var(--font-white)!important;
    top:40px!important;
}

.side-wrapper p{
    font-size: 23px;
}

.side-wrapper p a{
    color:var(--font-primary);
}

.login-form input{
    color: white;
}
.page{

    background-image: url('../images/food_banner2.jpg');
}
.form input{
    color: white;
}